@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --light-grey: #F5F5F5;
    --grey: #A3AED0;
    --light-green: #A3D0A5;
    --green: #169B00;
    --dark-green: #31742B;
    --sea-green: #C2E695;
    
}

.chart-container .google-visualization-columnchart-bar {
    border-radius: 10px;
  }
